@import "background.css";

.container {
    max-width: 960px;
}

body {
    font-family: 'Lora', serif;
    color: #3D3C42;
}

.content-card {
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    padding: 1.5rem;
    background-color: #FEFBF6;
    margin-bottom:  1.5rem;
    overflow: hidden;
    position: relative;
}

.video-preview {
    min-height: 250px;
    background-size: cover;
    background-position: center;
}

.text-light {
    color: #FEFBF6;
    text-shadow: 2px 2px 4px black;
}



article {
    margin-bottom: 4rem;
    background-color: #FEFBF6;
}


.article-title {
    padding-top: .5rem;
    margin-bottom: .25rem;
    font-size: 2rem;
}

.article-meta {
    color: #727272;
}

/* Rescale and center images embedded in markdown file articles */
.article-image {
    height: auto;
    max-width: 80%;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-link {
    font-size: 1.25rem;
}

.navbar-brand > h1 {
    color: #3D3C42;
}

.gallery-item {
	float: left;
	margin-bottom: 10px;
}


/* Achieve consistent carousel height via https://raybo.org/posts/2021-03-27-consistent-height-carousels-with-css-gradients-by-hacking-the-bootstrap-5-carousel/ */
#carouselLead .carousel-item img {
    object-fit: contain;
    object-position: center;
    max-height: 50vh;
    overflow: hidden;
}