@import "background.css";

body {
    font-family: 'Lora', serif;
}

article {
    margin-bottom: 4rem;
    background-color: white;
}

.article-title {
    padding-top: .5rem;
    margin-bottom: .25rem;
    font-size: 2rem;
}

.article-meta {
    color: #727272;
}

/* Achieve consistent carousel height via https://raybo.org/posts/2021-03-27-consistent-height-carousels-with-css-gradients-by-hacking-the-bootstrap-5-carousel/ */
#carouselLead .carousel-item img {
    object-fit: contain;
    object-position: center;
    height: 50vh;
    overflow: hidden;
}