{% extends "base.html" %}
{% from "macros.html" import card_video, card_event,  title_card %}

{% block content %}

{% if category == "events" %}

  <h2 class="pb-2 px-1 mx-1 mb-2">Events</h2>
  
  {% for category, articles in categories %}
    {% if category == "events" %}
      {% for article in articles|future_events() %}
        {{ card_event(article) }}
      {% endfor %}
    {% endif %}
  {% endfor %}

  <h3 class="pb-2 px-1 mx-1 mb-2 fst-italic">Past events</h3> 

  {% for category, articles in categories %}
    {% if category == "events" %}
      {% for article in articles|past_events() %}
      {{ card_event(article) }}
      {% endfor %}
    {% endif %}
  {% endfor %}

{% elif category == "videos" %}

<h2 class="pb-2 px-1 mx-1 mb-2">Videos</h2>
  
  {% for category, articles in categories %}
    {% if category == "videos" %}
      {% for article in articles|sort_dates() %}
        {{ card_video(article) }}
      {% endfor %}
    {% endif %}
  {% endfor %}

{% endif %}

{% endblock %}


