{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<div class="content-card">
  <header>
    <h3 class="article-title mb-2 pb-2">{{ article.title }}</h3>
  </header>
  
  <main class="article-body col-lg-10"> 
    <dl>
      <dt>Date</dt>
      <dd>{{ article.metadata["event-date"] | format_date }}</dd>
      <dt>Time</dt>
      <dd>{{ article.metadata["event-time"] }}</dd>
      <dt>Location</dt>
      <dd>{{ article.metadata["event-location"] }}</dd>
    </dl>

    {{ article.content }}
  </main>
</div>
{% endblock %}