{% extends "base.html" %}
{% from "macros.html" import card_event, card_video %}

{% block content %}

  <!-- {% include "includes/carousel.html" %} -->

  {% include "includes/description.html" %}

  {% for category, articles in categories %}
    {% if category == "events" %}
      <!-- Set next_event to false in case there are no current future events -->
      {% set next_event = (articles|future_events()|first|default(false, true)) %}
      {% if next_event %}
        {{ card_event(next_event) }}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% for category, articles in categories %}
    {% if category == "videos" %}
      {% for article in articles[:1] %}
      {{ card_video(article) }}
      {% endfor %}
    {% endif %}
  {% endfor %}

  {% include "includes/sponsors.html" %}
{% endblock %}