{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-white">
        <div class="col p-4 d-flex flex-column position-static">
          <header class="article-header">
            <h3 class="article-title mb-2 pb-2">{{ page.title }}</h3>
          </header>
          
          <main class="article-body">
            {{ page.content }}
          </main>
        </div>
      </div>
    </div>
</div>
{% endblock %}