{% from "macros.html" import gallery_item %}

<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/gallery.js"></script>

<div class="gallery row">

    {{ gallery_item("2022-07-24_lovemoms/chelsea_live.jpg") }}

    {{ gallery_item("2022-07-24_lovemoms/chelsea_live2.jpg") }}

    {{ gallery_item("2022-07-24_lovemoms/ira_live.jpg") }}

    {{ gallery_item("2022-07-24_lovemoms/ira_live2.jpg") }}

    {{ gallery_item("2022-07-24_lovemoms/elise_live.jpg") }}

    {{ gallery_item("2022-08-18_uec/frenia_live.jpg") }}

    {{ gallery_item("2022-08-18_uec/roberto_live.jpg") }}

    {{ gallery_item("2022-08-18_uec/marielle_live.jpg") }}

</div>